extends layout

block content
    .content
        .child
            .dummy
            .white
                .dummy &nbsp;
                h2 UCS LAB
                b UnderC Services LAB에 오신 것을 환영합니다!
                br
                sup 글자체 극혐 ㅇㅈ? ㅇ ㅇㅈ
                .dummy &nbsp;
            .dummy
            .white
                .dummy &nbsp;
                h2 디자인 무엇?
                b 뭔가를 닮았더라면 기분탓입니다 XD
                .dummy &nbsp;
            .dummy