extends layout

block content
    .content
        .child
            .dummy
            h2 UCS LAB
            b UnderC Services LAB에 오신 것을 환영합니다!
            br
            sup 글자체 극혐 ㅇㅈ? ㅇ ㅇㅈ
            .dummy